*.exe
*.pdb
*.vcproj.*.user
*.resharper.user
*.suo
*.ncb
*.aps
*.user
*.ccscc
*.cache
*.bak
*.swp
*.pidb
*.userprefs
*.FileListAbsolute.txt
*.Cache
*.tlog
*.vs10x
*.exe.manifest
*.mdb
*.docstates
*.dat
DOTNETMF_FS_EMULATION
Thumbs.db
obj/
bin/

